@import '../../../../global/assets/styles/vars';

.avatar {
  .pfp {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    border-color: $borderColor3;
    border-width: 3px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .avatar_badge {
      margin: -30px 0 0 100px;
      display: block;
      position: absolute;
      padding: 10px;
    }
  }
}
