#pin-Alliance-Center {
    top: 20%;
    left: 70%;
    }

#area:hover>.map-text {
    display: block;
    }


.map-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75%;
    white-space: nowrap;
    display: none;
    }

.map-text h3 {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px #000;
    }