[submodule "submodules/eb-pancake-frontend"]
	path = submodules/eb-pancake-frontend
	url = https://${BITBUCKET_CICD_USERNAME}:${BITBUCKET_CICD_APP_PASSWORD}@bitbucket.org/ebisusbay/eb_pancake_frontend.git
    branch = develop
