@import 'src/global/assets/styles/vars';

.account {


}

.avatar {
   img {
     width: 38px;
     border-radius: 30px;
     -moz-border-radius: 30px;
     -webkit-border-radius: 30px;
   }
 }

.navigation {
  list-style: none;

  .col {
    display: inline-block;
    padding: 8px 10px;
    border: solid 1px #dddddd; // todo: dark border: solid 1px rgba(255,255,255,.1);
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    i {
      height: 32px;
      width: 32px;
      padding: 9px 0;
      text-align: center;
      border-radius: 100%;
      background: #eee; // todo: dark border: solid 1px rgba(255,255,255,.01);
      margin-right: 10px;
    }
    &:hover {
      border: solid 1px $blue;
      color: $blue;
    }
  }
}

.username {
  font-size: 12px;
}