@import 'src/Assets/styles/vars';

.bitpixel_back {
  text-align: center;
  background-image: url('/img/cronosverse/Bit-back.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  min-height: 720px;
}
// .content img{
//   pointer-events: auto !important;
// }
.canvas {
  margin-top: 16%;
  margin-bottom: 12%;
  padding-right: 1%;
  /* width: 100%;  */
  display: flex;
  justify-content: center;
  position: relative;
}

// .canvasBack {
//   left: 0px;
//   top: 0px;
//   z-index: 0;
// }
.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-element {
  width: 100% !important;
  height: 100% !important;
}
.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.canvasFront {
  z-index: 1;
  position: absolute;
}
.mapImageArea{
  pointer-events: auto !important;
}
.maparea{
  pointer-events: auto !important;
}
.pinImg{
  pointer-events: none !important;
}
.mapDiv{
  z-index: -1;
}
.content img { pointer-events: all !important; }

.image{
  pointer-events: none;
  position: relative;
  object-fit: cover;
}
// .container {
//   position: relative;
//   background: #2F5596;
// }

// .container::before {
//   position: absolute;
//   display: block;
//   transform: translateX(-50%);
//   left: 50%;
//   width: 50%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   content: '';
// }
.mapBorder{
  border-color: rgb(204, 204, 204);
    /* border-radius: 4px; */
    /* border-style: solid; */
    /* border-width: 4px; */
    /* width: 1280px; */
    /* max-width: 100%; */
    margin: 0 auto;
    /* background-color: #045aaa; */
    background-repeat: repeat;
    background-image: url("/img/battle-bay/ocean-3.png");
}
.tip_modal {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;

  min-width: 206px;

  background: $bgColor1 !important;
}

.modal_content {
  display: flex;
  justify-content: flex-start;
  background: $bgColor1 !important;
}

.tile_img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.tile_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cross {
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
// pins on battleMap
.factionIcon {
  position: relative;
  top: -30px;
  left: -5px;
  z-index: 99;
}
// #pin-Dragonland {
//   top: 20%;
//   left: 20%;
// }
// #pin-Human-Kingdoms {
//   top: 52%;
//   left: 57%;
// }
// #pin-Dwarf-Mines{
//   top: 50%;
//   left: 45%;
// }
// #pin-Southern-Trident{
//   top: 60%;
//   left: 20%;
// }
.box:hover>.pinText {
  display: block;
}
.pinText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  white-space: nowrap;
  display: none;
}
.pinText h3 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #000;
}

