@import 'src/global/assets/styles/vars';
#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

.bitpixel_back {
  text-align: center;
  background-image: url('/img/cronosverse/Bit-back.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  min-height: 720px;
}
// .content img{
//   pointer-events: auto !important;
// }
.canvas {
  margin-top: 16%;
  margin-bottom: 12%;
  padding-right: 1%;
  /* width: 100%;  */
  display: flex;
  justify-content: center;
  position: relative;
}

// .canvasBack {
//   left: 0px;
//   top: 0px;
//   z-index: 0;
// }
.react-transform-component {
  width: 100% !important;
  height: 100% !important;
}

.react-transform-element {
  width: 100% !important;
  height: 100% !important;
}
.react-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.canvasFront {
  z-index: 1;
  position: absolute;
}
.mapImageArea{
  pointer-events: auto !important;
}
.maparea{
  pointer-events: auto !important;
}
.pinImg{
  pointer-events: none !important;
}
.mapDiv{
  z-index: -1;
}
.content img { pointer-events: all !important; }

.image{
  pointer-events: none;
  position: relative;
  object-fit: cover;
}
// .container {
//   position: relative;
//   background: #2F5596;
// }

// .container::before {
//   position: absolute;
//   display: block;
//   transform: translateX(-50%);
//   left: 50%;
//   width: 50%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.5);
//   content: '';
// }
.mapBorder{
  border-color: rgb(204, 204, 204);
    /* border-radius: 4px; */
    /* border-style: solid; */
    /* border-width: 4px; */
    /* width: 1280px; */
    /* max-width: 100%; */
    margin: 0 auto;
    /* background-color: #045aaa; */
    background-repeat: repeat;
    background-image: url("/img/battle-bay/ocean-3.png");
}
.tip_modal {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  z-index: 1;

  min-width: 206px;

  background: $bgColor1 !important;
}

.modal_content {
  display: flex;
  justify-content: flex-start;
  background: $bgColor1 !important;
}

.tile_img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.tile_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cross {
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
// pins on battleMap
// .factionIcon {
//   position: fixed;
//   top: -30px;
//   left: -5px;
//   z-index: 99;
// }
// #pin-Dragonland {
//   top: 20%;
//   left: 20%;
// }
// #pin-Human-Kingdoms {
//   top: 52%;
//   left: 57%;
// }
// #pin-Dwarf-Mines{
//   top: 50%;
//   left: 45%;
// }
// #pin-Southern-Trident{
//   top: 60%;
//   left: 20%;
// }
.box:hover>.pinText {
  display: block;
}
.pinText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  white-space: nowrap;
  display: none;
}
.pinText h3 {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #000;
}


// body{
// 	margin: auto;
//     cursor: grab;
// 	//overflow: hidden;
// }
.background{
	height: 1620px;
	width: 2880px;
  // overflow: hidden;
  object-fit: contain;
	background-image: url("/img/battle-bay/mapImages/background.png");
}
.tavern{
  position: absolute;
  top: 0;
  left: 0;
	height: 573px;
	width: 725px;	
  transition: all .2s ease-in-out; /* Animation */
	z-index: 2;
}
.tavern{
	position: absolute;
	top: 100px;
	left: 520px;
}
.enlarge:hover{
  transform: scale(1.03); 
}
.image1 {
  position: absolute;
  z-index: 3;
}
.image2 {
  position: absolute;
  z-index: 2;
}
.academy{
	position: absolute;
	height: 792px;
	width: 744px;
	top: 110px;
	left: 2136px;
	background-image: url("/img/battle-bay/mapImages/academy.png");
	transition: all .2s ease-in-out; /* Animation */
}
.townhall{
	position: absolute;
	height: 607px;
	width: 707px;
	top: 390px;
	left: 1040px;
	background-image: url("/img/battle-bay/mapImages/townhall.png");
	transition: all .2s ease-in-out; /* Animation */
}
.announcement{
	position: absolute;
	height: 243px;
	width: 206px;
	top: 810px;
	left: 1716px;
	background-image: url("/img/battle-bay/mapImages/announcement.png");
	transition: all .2s ease-in-out; /* Animation */
}
.bank{
	position: absolute;
	height: 456px;
	width: 579px;
	top: 33px;
	left: 982px;
	background-image: url("/img/battle-bay/mapImages/bank_day.png");
	transition: all .2s ease-in-out; /* Animation */
	z-index: 1;
}
.water{
	position: absolute;
	height: 703px;
	width: 2880px;
	top: 933px;
	left: 0px;
	background-image: url("/img/battle-bay/mapImages/water.png");
}
.fishmarket{
	position: absolute;
	height: 545px;
	width: 793px;
	top: 1050px;
	left: 1602px;
	background-image: url("/img/battle-bay/mapImages/fishmarket_day.png");
	transition: all .2s ease-in-out; /* Animation */
}
.boat{
	position: absolute;
	height: 613px;
	width: 718px;
	top: 950px;
	left: 102px;
	background-image: url("/img/battle-bay/mapImages/boat_day.png");
	transition: all .2s ease-in-out; /* Animation */
}
.flowers{
	position: absolute;
	height: 229px;
	width: 251px;
	background-image: url("/img/battle-bay/mapImages/flowers1.png");
}
.allianceCenter{
	position: absolute;
	height: 438px;
	width: 554px;
	top: 200px;
	left: 1580px;
	background-image: url("/img/battle-bay/mapImages/alliancecenter_day.png");
	transition: all .2s ease-in-out; /* Animation */
}
.swordsmen{
	position: absolute;
	height: 270px;
	width: 383px;
	top: 280px;
	left: 420px;
	background-image: url("/img/battle-bay/mapImages/swordsmen.png");
}
.barracks{
	position: absolute;
	height: 579px;
	width: 832px;
	top: 400px;
	left: 0px;
	background-image: url("/img/battle-bay/mapImages/barracks.png");
	transition: all .2s ease-in-out; /* Animation */
}
.ebisustatue{
	position: absolute;
	height: 542px;
	width: 279px;
	top: 1050px;
	left: 1140px;
	background-image: url("/img/battle-bay/mapImages/ebisustatue.png");
}
.moongate{
	position: absolute;
	height: 482px;
	width: 443px;
	top: 690px;
	left: 2050px;
	background-image: url("/img/battle-bay/mapImages/moongate_day.png");
	transition: all .2s ease-in-out; /* Animation */
}
.pond{
	position: absolute;
	height: 311px;
	width: 783px;
	top: 20px;
	left: 1840px;
	background-image: url("/img/battle-bay/mapImages/pond1.png");
}
.torii{
	position: absolute;
	height: 201px;
	width: 236px;
	top: 232px;
	left: 110px;
	background-image: url("/img/battle-bay/mapImages/torii.png");
}
.flowers1{
  position: absolute;
  top: 76px;
  left: 2220px;
  background-image: url("/img/battle-bay/mapImages/flowers1.png");
}
.flowers2{
  position: absolute;
  top: 820px;
  left: 1140px;
  background-image: url("/img/battle-bay/mapImages/flowers1.png");
}
.flowers3{
  position: absolute;
  top: 700px;
  left: 620px;
  background-image: url("/img/battle-bay/mapImages/flowers1.png");
}

.bank_label{
	position: absolute;
	height: 456px;
	width: 579px;
	z-index: 20;
	background-image: url("/img/battle-bay/building_labels/bank_label.png");
	transition: all .2s ease-in-out; 
	z-index: 20;
}
.bank_label:hover{
	background-image: url("/img/battle-bay/building_labels/bank_label_hover.png");	
}