*{
    box-sizing: border-box;
  }
  
  body {
    background: #ccc;
    padding: 20px;
  }
  
  .very-specific-design {
    padding-top: 60%;
    text-align: center;
    background: white;
    position: relative;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/img-large.jpg);
    background-position: center center;
    background-size: cover;
    .inside {
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .scaleable-wrapper {
    padding: 20px;
    resize: both;
    position: relative;
    background: #666;
    width: 800px;
    height: 600px;
  }
  
  .ui-resizable-se {
    width: 10px;
    height: 10px;
    background: orange;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .bigred {
    color: red;
    font-size: 5rem;
    margin: 0;
  }