@import '@src/global/assets/styles/vars';

.profile {
  .userInfo {
    .bio {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      color: $textColor2;
    }
  }
}
